#CalcContainer
{
    border:30px, rebeccapurple;
    font-size: xx-large;
    border-style: double;
    position:absolute;
    text-align: center;
    background-color: darkslategrey;
}

#tb
{
    background-color: slategray;
}

.btns
{
    border-color: aqua;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: cadetblue;
    width: 2.4em;
    height: 2.4em;
}

.btns:hover
{
    background-color: darkslateblue;
}